#map {
    width: 100%; /* Ocupa el 100% del ancho de la ventana */
    height: 100%; /* Ocupa el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina relleno */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten las dimensiones */
  }

/* Opcional: estilos para mejorar la experiencia de usuario */
.mapboxgl-canvas {
    outline: none; /* Elimina el borde azul al hacer clic en el mapa */
}