:root {
  --vh: 100vh; /* Variable para la altura visible */
}

#map {
  width: 100%;
  height: calc(var(--vh) - 60px); /* Ajusta 60px al tamaño de la barra inferior */
}

/* Opcional: estilos para mejorar la experiencia de usuario */
.mapboxgl-canvas {
    outline: none; /* Elimina el borde azul al hacer clic en el mapa */
}