#map {
  width: 100%;
  height: calc(100% - 60px); /* Ajusta 60px al tamaño de la barra inferior */
   /* Ajusta 60px al tamaño de la barra inferior */
}

/* Opcional: estilos para mejorar la experiencia de usuario */
.mapboxgl-canvas {
    outline: none; /* Elimina el borde azul al hacer clic en el mapa */
}